.add-blog-cont{
    padding-right: 10rem;
    padding-bottom: 5rem;
}
.bloghead{
    color : rgb(255, 255, 255);
}
.img-css {
    width: 25rem;
}
/* .content-text{
    height: 100px;
} */
.form-control{
    background-color: #ffffff61;
}

.btn-colour{
    background-color: rgba(250,222,227,1) ;
}

.content-text{
    height: 200px;
}

@media (max-width: 820px) {
    .img-css {
        width: 0rem;
    }
}