.card {
    border-radius: 0.5rem ;
    border-color: black;
    border-width: 2px;
}

.card-title {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
    font-family: 'Patrick Hand SC', cursive;
}

.card-text {
    font-size: 25px;
    font-family: 'Handlee', cursive;}

.utility-icons {
    text-align: center;
}
