.navbar-brand{
    font-size: x-large;
}

.nav-item{
    font-size: larger;
}

.name-size{
    font-size: large;
}

.bg-modal {
    background: rgb(250,222,227);
    background: linear-gradient(120deg, rgba(53,214,221,1) 50% ,rgba(250,222,227,1) 55%);
}
